#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html,
.body {
  margin: 0;
  height: 100%;
}

h1 h2,
h3,
h4,
p,
span,
{
color: #213547 !important;
}

.quicksand-400 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #ce8a9e, #190478);
  transition: background 0.8s ease-out, box-shadow 0.5s ease-out;
  box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
  /* Glow effect */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.wal-add {
  height: 170px;

}

.swipe-outer-container {
  display: contents;
}

.swipe-container {
  height: 40rem;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 1.5rem;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.swipe-img {
  height: 24rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.username2 {
  font-size: 2.2rem;
  color: black;
}

.swipe-text {
  font-size: large;
  vertical-align: top;
}

.swipe-text2 {
  font-size: large;
  font-weight: 600;
  vertical-align: top;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 4rem;
}

.profile-container {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  border-width: 5px;
  border-color: #e7c9dc;
  border-style: solid;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  margin: auto;
}

.profile-inner-border {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border-width: 5px;
  border-color: #ffffff;
  border-style: solid;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  color: #fff;
  margin: 0;
  padding: 0.5rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  stroke-width: 2;
}

.top-navigation {
  background-color: #fff;
}

.badge-container {
  width: 50%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.settings-container {
  line-height: 1.5;
  text-align: left;
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.badge-light {
  color: rgb(255, 255, 255);
  padding: 0 0.6rem;
}

.badge-dark {
  color:rgb(0, 0, 0)
}

.section {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.switch {
  top: -0.8rem;
  left: 13rem;
}

.verify-button {
  position: absolute;
  right: 2%;
  top: 2rem;
  padding-bottom: 1rem;
}

.h3-category {
  padding: 0.1rem 0 0 3rem;
}

.hidden {
  display: none;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 768px) {

  body,
    h1,
    h2,
    h3,
    h4,
    p {
      font-size: 90%;
    }

  #root {
    padding: 1rem;
    width: 95%;
  }

  .flex-container {
    display: block;
    padding: 0.5rem;
    padding-top: 5%;
    margin: 0;
  }


  .top-navigation button {
    margin: 5px 0;
  }


  .top-navigation {
    flex-direction: column;
    align-items: center;
  }

  .swipe-button,
  .settings-button,
  .connect-button {
    margin: 5px 0;
    /* Adds vertical spacing */
    padding: 5px 10px;
    /* Adjust button padding */
    width: 100%;
    /* Optional: Makes buttons full width */
  }

  .app-title {
    display: none;
  }

  .settings-container,
  .badge-container,
  .swipe-container {
    width: 80%;
    padding: 15px;
  }

  .settings-container {
    min-width: 320px;
  }

  .profile-container {
    width: 6rem;
    height: 6rem;
  }

  .username,
  .h3-category {
    font-size: 1.2rem;
  }

  .swipe-text,
  .swipe-text2 {
    font-size: medium;
  }

  .username2 {
    font-size: 2rem;
  }

  .verify-button button,
  .settings-container button {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .verify-button {
    position: relative;
    right: auto;
    top: auto;
  }

.swipe-img {
  height: 35%;
  border-radius: 10px;
  margin-top: 2rem;
}

}
