.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 2rem;
}

.profile-container {
  position: relative;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  border-width: 5px;
  border-color: #e7c9dc;
  border-style: solid;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  margin: auto;
}

.profile-inner-border {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border-width: 5px;
  border-color: #ffffff;
  border-style: solid;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.username {
  color: #fff;
  margin: 0;
  padding: 0.5rem;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  stroke-width: 2;
}

.top-navigation {
  background-color: #fff;
}

.badge-container {
  width: 50%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.settings-container {
  line-height: 1.5;
  text-align: left;
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.badge-light {
  color: rgb(255, 255, 255);
  padding: 0 0.6rem;
}

.badge-dark {
  color:rgb(0, 0, 0)
}

.section {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.switch {
  top: -0.8rem;
  left: 13rem;
}

.verify-button {
  position: relative;
  padding-bottom: 1rem;
}

.h3-category {
  padding: 0.1rem 0 0 3rem;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .verify-button {
    position: absolute;
    right: 5%;
    top: 2rem;
    }
}
